body{
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: rgb(188, 186, 186);
}
a:hover{
    color: red;
    text-decoration: underline;
}
.grid-container{
display: grid;
grid-template-columns: repeat(3, 300px);
background-color: aqua;
gap: 20px;
overflow: hidden;
}

.grid-item{
    /* width: 100px; */
    /* height: 100px; */
    background-color: blueviolet;
    /* font-weight: 700; */
    /* font-size: 30px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.grid-item:hover{
    background-color: orange;
    transition: all 2s ease;

}