* {
  margin: 0;
  padding: 0;
}

.parent {
  width: 900px;
  background-color: rgb(249, 235, 218);
  margin: 20px;
  position: relative;
}
.p-relative {
  position: relative;
  /* left: 50px; */
  /* right: 20px; */
}
.p-relative > span {
  color: green;
  background-color: greenyellow;
  text-transform: uppercase;
}
.p-absolute {
  padding-block: 50px;
  background-color: aquamarine;
}

.p-absolute > p > span {
  background-color: brown;
  color: white;
  font-weight: 700;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  /* margin: 20px; */
}

.p-absolute > img {
  width: 130px;
  height: 100px;
  position: absolute;
  top: 110px;
  right: 400px;
}
.p-fixed {
  position: relative;
}

.border-class {
  /* border: 2px solid red; */
  border-width: 3px;
  border-color: red;
  /* border-style: dotted solid; */
  border-top-style: dotted;
  border-right-style: dashed;
  border-left-style: solid;
  border-bottom-style: double;
border-radius: 10px;
}

/* img {
  position: fixed;
  top: 10px;
  left: 200px;
} */

.d-property {
  color: red;
  display: inline;
}

table,
td,
th {
  border: 1px solid black;
}

#table1 {
  border-collapse: separate;
  border-spacing: 10px;
}

#table2 {
  border-collapse: collapse;
}

input {
  padding: 10px;
  outline: 2px dashed red;
  border: none;
  box-shadow: 15px 10px 10px orange;
  margin: 20px;
}
/* outline: [outline-width] [outline-style] [outline-color]; */
/* box-shadow: 10px 10px 5px #888888 => Parameters: h-offset v-offset blur-radius color. */

.float-class {
  width: 50%;
  height: 100px;
  background-color: aqua;
  /* margin: 30px; */
  padding: 30px;
}

.float-left {
  float: left;
  width: 40%;
  background-color: white;
}
.float-right {
  float: right;
  width: 40%;
  color: orange;
  background-color: white;
}
